.flex {
    cursor: pointer;
}

.MY-header {
    background: #fff;
}

.Lo-left-img {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.ladda-label {
    color: #fff;
}

.weui-actionsheet__cell {
    cursor: pointer;
    font-size: 0.37rem;
}
