.x-navigation li > ul li > a {
    font-size: 13px !important;
}

.x-navigation > li > ul > li > a {
padding-left: 65px !important;
}

.x-navigation li > a {
    font-size:15px;
}
.x-navigation li > a {
    font-size:15px;
}