
.doct_center_r {
    border-left-style: none;
    padding-left: 0px;
    margin-top: 20px;
}

.content_ul li {
    border-bottom: 1px solid #F0F0F1;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
}

    .content_ul li a {
        color: #5bc0de;
    }

        .content_ul li a:hover {
            color: #f44336;
        }


.span-1 {
    margin-left: 20px !important;
    color: #ccc !important;
    font-size: 12px !important;
    float: none ; 
}

.doc-item:before {
    content: "";
    background-image: url('/favicon.ico');
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
