.tab td {
    text-align: center;
}


.table2 thead td {
    background-color: #eee !important;
    text-align: center;
}

.table2 td {
    text-align: center;
}

#myTab11 .active a {
    border-top: 2px solid #2dc3e8;
}

.main-content .select-item {
    display: none;
}


.main-content .active {
    display: block;
}

#myTab11 li > a {
    padding: 7px 15px !important;
}

.btn {
font-size:12px;
}
