<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下例中，“SetAttributes”转换将更改 
    “connectionString”的值，以仅在“Match”定位器 
    找到值为“MyDB”的特性“name”时使用“ReleaseSQLServer”。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="ManageSystemContext" connectionString="Data Source=iZutz4ktbawcgjZ;Initial Catalog=ChinetsDB;User ID=sa;Password=matridx2022!" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />

    <!--百度开放平台的key，必须-->
    <add key="BaiduAppKey" value="CA6ec345eb03c609a8738322aa89905c" />

    <!--百度开放平台的key，必须-->
    <add key="BaiduIpAddressKey" value="CA6ec345eb03c609a8738322aa89905c" />
    <!--百度ip地址接口的请求地址，必须-->
    <add key="BiaduIpAddressUrl" value="http://api.map.baidu.com/location/ip?ak={0}&amp;ip={1}&amp;coor=bd09ll" />
    <!--图片地址的url地址，因为前后台分离的原因-->
    <add key="ImageUrl" value="http://admin.x.com" />
    <!--微信服务器的网站的域名地址-->
    <add key="WeixinWebUrl" value="http://w.x.com" />
    <!-- 与微信公众账号后台的Token设置保持一致，区分大小写。 -->
    <add key="WeixinToken" value="weixin" />
    <!-- 与微信公众账号后台的AppId设置保持一致，区分大小写。-->
    <add key="WeixinAppId" value="wxd877bb4d74e74ce6" />
    <!-- 与微信公众账号后台的AppSecret设置保持一致，区分大小写。-->
    <add key="WeixinAppSecret" value="1a778741fd646b8dbacb7400c411d816" />
    <!-- innerapi 的接口地址-->
    <add key="InnerApiUrl" value="http://innerapi.chinets.com" />


    <!--  ======================= 自己邮件服务器信息 相关参数  开始 ======================================  -->
    <!--发送邮件的帐号-->
    <add key="message.email.email" value="chinets@ccast.com.cn" />
    <!--发送邮件的帐号对应的密码-->
    <add key="message.email.password" value="mY#Chinets." />
    <!--显示的发件人名称-->
    <add key="message.email.displayname" value="CHINET数据云" />
    <!--服务器的端口-->
    <add key="message.email.port" value="465" />
    <!--启用SSL-->
    <add key="message.email.ssl" value="true" />
    <!--SMTP服务器地址-->
    <add key="message.email.smtp" value="smtp.mxhichina.com" />
    <!--  ======================= 自己邮件服务器信息 相关参数   结束 ======================================  -->

    <!--医学数据上传的 上半年时间段-->
    <add key="date.range.first.halfyear" value="1900-01-21#1900-07-20" />
    <!--医学数据上传的 下半年时间段-->
    <add key="date.range.second.halfyear" value="1900-07-21#1900-01-20" />


    <!--CR 项目上传excel系统支持的细菌名称  -->
    <add key="cr.upload.excel.germ" value="大肠埃希菌,肺炎克雷伯君,产酸克雷伯菌,阴沟肠杆菌,产气肠杆菌,奇异变形杆菌,黏质沙雷菌,弗劳地枸橼酸杆菌,摩根摩根菌,普罗威登菌,铜绿假单胞菌,鲍曼不动杆菌,其他细菌" />


  </appSettings>

  <ManageSystemConfig xdt:Transform="Replace">
    <ConfigKeyPrefix Prefix="chi." />
    <WebFarms MultipleInstancesEnabled="False" RunOnAzureWebsites="False" />
    <RedisCaching Enabled="true" KeyPrefix="huiruimedical." ConnectionString="127.0.0.1:6379,allowAdmin=true,password=chiNet#888" />
    <UserAgentStrings databasePath="~/App_Data/uas_20140809-02.ini" />
    <SupportPreviousNopcommerceVersions Enabled="True" />
    <Installation DisableSampleDataDuringInstallation="False" UseFastInstallationService="False" PluginsIgnoredDuringInstallation="" />
  </ManageSystemConfig>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下例中，“Replace”转换将替换 
      web.config 文件的整个 <customErrors> 节。
      请注意，由于 
      在 <system.web> 节点下仅有一个 customErrors 节，因此不需要使用“xdt:Locator”特性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>