.header {
    height: 122px;
}

.nav {
    height: 38px;
    line-height: 38px;
}

    .nav li {
        float: left;
        width: 8%;
        text-align: left;
        padding-left: 10px;
    }

        .nav li a {
            font-size: 14px;
        }

            .nav li a img {
                margin-left: 5px;
            }

.logo {
    margin-top: 10px !important;
    overflow: hidden !important;
    color: #336f8b !important;
    width: 100%;
    height: auto;
    background-image: none;
}

    .logo li.r {
        line-height: 27px;
    }

        .logo li.r span {
            vertical-align: middle;
            padding-left: 10px;
        }

.index-bt {
    overflow: hidden;
}

    .index-bt h2 {
        width: 50%;
        border-bottom: 1px solid #cccccc;
        padding: 10px 0px;
        font-size: 14px;
    }

    .index-bt i {
        width: 4px;
        height: 12px;
        background: #2e479b;
        display: inline-block;
        margin-right: 6px;
    }

    .index-bt img {
        margin-top: 10px;
        float: right;
    }

.fenlei {
    overflow: hidden;
    padding: 20px 0;
}

    .fenlei li {
        float: left;
        width: 14.28%;
        line-height: 1.8;
    }

.index-bt-big {
    color: #30449b;
    font-size: 22px;
    line-height: 2;
}

.sj {
    border: 0;
    color: #30469c;
}

.footer {
    background: #eeeeee;
    padding: 20px;
}

    .footer li {
        line-height: 2;
    }

        .footer li span {
            display: inline-block;
            margin-left: 20px;
        }

        .footer li.last {
            margin-bottom: 60px;
        }

    .footer p.center {
        text-align: center;
        color: #9d9d9d;
        line-height: 2.6;
    }

        .footer p.center img {
            margin: 0 10px;
        }

.nav > li > a {
    padding: 0px !important;
}

    .nav > li > a:hover {
        background-color: none !important;
    }


.cy-wrap {
    width: 100% !important;
}

.mbx p {
    padding-left: 10px !important;
}

.user_center_r {
    width: 100% !important;
    border-left: none !important;
}


.nav > li > a:hover, .nav > li > a:focus {
    /*background-color: #ECF1F7 !important;*/
    background-color: transparent !important;
}


.dropdown-content {
    display: none;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.menu-select .dropdown-content {
    display: block !important;
}

.menu-select .menu-item-a {
    color: #428bca !important;
}

.row-fluid {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #e65855;
    border-top: none;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.country_list_dropdown {
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}

    .country_list_dropdown li {
        width: auto;
        float: left;
        padding: 1px 10px;
        margin: 0px 10px;
        height: 30px;
        line-height: 30px;
    }

        .country_list_dropdown li a {
            font-size: 13px;
        }

.menu-more li {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
